.root{
    /*-fx-background-image: url("background.jpg");*/
    -fx-background-color: black;

    -fx-base: black;
    -fx-color: -fx-base;

    -fx-font-family: "Montserrat";
    -fx-accent: grey;
    -fx-focus-color: black;
    /*
    !*-fx-default-button: -fx-accent;*!
    -jfx-primary-color: -fx-accent;
    -jfx-light-primary-color: -fx-accent;
    -jfx-dark-primary-color: -fx-accent;

    -jfx-secondary-color: -fx-focus-color;
    -jfx-light-secondary-color: -fx-focus-color;
    -jfx-dark-secondary-color: -fx-focus-color;*/

}

.label{
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: chartreuse;
    -fx-effect: dropshadow(gaussian,rgba(255,255,255,0.5) , 0, 0, 0, 1);
}

.button{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1,#2A5058);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5,0,0,1);
}

.button:hover{
    -fx-background-color: linear-gradient(#2A5058,#61a2b1);
}

.jfx-tab-pane{
    -fx-background-color: black;
}
.jfx-tab-pane .header-region{
    -fx-background-color: black;
}

.jfx-tab-pane .tab-header-area .jfx-rippler {
    -jfx-rippler-fill: black;
}

.jfx-tab-pane .tab-selected-line {
    -fx-stroke: black;
}

.tab-selected-line {
    -fx-background-color: black;
}

#taskList{
    -fx-background-color: black;
}

.list-cell{
    -fx-font-size: 16 px;
    -fx-font-family: "Berlin Sans FB";
    -fx-background-color: black;
    -fx-text-fill: chartreuse;
}

.date-picker{
    -fx-background-color: black;
    -fx-text-fill: chartreuse;
}

.calender-cell{
    -fx-background-color: black;
    -fx-text-fill: chartreuse;
}

#welcome-text{
    -fx-font-size: 32px;
    -fx-font-family: "Arial Black";
    -fx-fill: chartreuse;
    -fx-effect: innershadow(three-pass-box,rgba(0,0,0,0.7) ,6, 0.0, 0, 2);
}

#archive-text{
    -fx-font-size: 32px;
    -fx-font-family: "Arial Black";
    -fx-fill: chartreuse;
    -fx-effect: innershadow(three-pass-box,rgba(0,0,0,0.7) ,6, 0.0, 0, 2);
}
#from{
    -fx-font-size: 12px;
    -fx-font-family: "Arial Black";
    -fx-fill: chartreuse;
}
#to{
    -fx-font-size: 12px;
    -fx-font-family: "Arial Black";
    -fx-fill: chartreuse;
}
#taskToAdd{
    -fx-font-size: 16 px;
    -fx-font-family: "Berlin Sans FB";
    -fx-background-color: black;
    -fx-text-fill: chartreuse;
}

#actionText{
    -fx-fill: firebrick;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.5), 0, 0, 0, 1);
}